button {
    background-color: #A1DBF2;
    color: #000000;
    border: none;
    border-radius: 6px;
    padding: .4em 1.5em;
    font: 700 22px 'Nunito', sans-serif;
    color: #2B2B2B;
    margin-top: 5%;
    margin-bottom: 5%;
}

button:hover {
    text-decoration: underline;
    cursor: pointer;
    box-shadow: 0 0 4px #000000;
}
