body {
    background-color: #EDEBF6;
}

.splash-container {
    margin: 3% 15%;
}

.splash-container button {
    margin: 1.25em 0;
    font-size: 1.2em;
}

.splash-container input {
    font-size: 1.2em;
    padding: 0.5em 1em;
    margin: 0.3em 0;
    border: 2px solid rgb(233, 233, 233);
    border-radius: 0.25em;
}

.splash-page-paragraph {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5em;
    text-align: left;
    color: #2B2B2B;
}

#login-box {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: #ED7A7A;
    border: 3px solid rgba(145, 8, 8, 0.4);
    border-radius: 17.3039px;
    padding-bottom: 1em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.splash-window-title {
    color: #461515;
    font-family: 'Racing Sans One', cursive;
    font-size: 3em;
}

.hyperlink {
    color: #FAF1C2;
    margin: 4px 0px;
    font-size: 1.1em;
}

.splash-row {
    display: flex;
}

.column {

}

#left {
    flex: 2;
    margin-right: 5%; 
}

#right {
    flex: 1;
}