@media only screen and (max-width: 800px) {
    h1 {
        font-family: 'Racing Sans One', cursive;
        font-size: 4em;
        text-align: left;
        color: #003459;
        margin: 0 0 0 3%;
    }
}
@media only screen and (min-width: 800px) {
    h1 {
        font-family: 'Racing Sans One', cursive;
        font-size: 6em;
        text-align: left;
        color: #003459;
        margin: 0 0 0 3%;
    }
}